* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", "Arial";
}

body {
  background-color: var(--color-primary);
  color: #EDEDF2;  /*F2F2F7*/
}

:root {
  --color-primary: #21252B;
  --color-secondary: #282C34;
  --shadow-dark: 0 15px 15px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow-light: 0 6px 12px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.grid {
  padding: 2em;
  width: 100%;
  display: grid;
  /*grid-template-columns: 5px;*/
  grid-template-areas:
  "crd-overview"
  "crd-scheduled"
  "crd3"
  "crd4"
  "crd-recent"
  "crd6"
  "crdlog"
  ;
}

/* ------------------
    CONFIRMED
------------------ */

.crd-title {
  margin: 0.5em 0 0;
  font-size: 2.5em;
  text-align: center;
}

.content {
  font-size: 3em;
  letter-spacing: -0.05em;
  padding: 0 1.5rem;
}

.txt {
  font-size: 3em;
  letter-spacing: -0.05em;
}

.txt--xxl {
  font-size: 15em;
    /*font-weight: 300;      ROOM FOR ADDITIONAL SMALLER WEIGHT*/
  padding: 0.61rem 0;
  text-align: center;
  color: rgba(237, 237, 242, 0.65);
}

.txt--lrg {
  font-size: 8em;
  letter-spacing: -0.05em;
}

.txt--sml {
  font-size: 1.5em;
}

.txt--obs {
  font-size: 2em;
  color: #919296;
}

.num {
  font-family: "Roboto Mono", "Monospace", "Arial";
  text-align: right;
}


/* ------------------
    TESTING
------------------ */

table {
  /* border: 1px solid #EDEDF2;*/
  width: 100%;
  padding: 1em;
}

td {
  font-size: 2.4rem;
  text-align: left;
}

i {
  font-size: 3.3rem !important;
  padding-right: 0;
  padding-left: 1em;
  text-align: right;
  color: #919296;
}

.tbl-scheduled {
  height: 53.75em;
}

.tbl-recent {
  height: 100%;
}

.td-date {
  text-align: center;
}

.td-icon {
  width: 2em;
}

/* ------------------
    BUTTON SECTION
------------------ */

.sign {
  background-color: inherit;
  color: inherit;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  border: none;
}

/* ------------------
    CARD SECTION
------------------ */

.crd-overview {
    grid-area: crd-overview;
    height: 19.08em;

    text-align: right;
    /*border: 0px;
    border-top: 0.2em solid;
    border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
    border-image-slice: 1;*/
}

.crd-scheduled {
    grid-area: crd-scheduled;
    height: 57.25em;
}

.crd3 {
    grid-area: crd3;
    height: 19.08em;
}

.crd4 {
    grid-area: crd4;
    height: 42.94em;
}

.crd-recent {
    grid-area: crd-recent;
    height: 28.63em;
}

.crd6 {
    grid-area: crd6;
    height: 57.25em;
}

.crdlog {
    grid-area: crdlog;
    height: 7.15em;
}

.card {
  background-color: var(--color-secondary);
  border-radius: 0.4em;
  margin-bottom: 2rem;
  display: inline-block;
  width: 57.25em;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  box-shadow: var(--shadow-dark);
}

/* ------------------
        OLD / UNUSED
------------------ */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

div.buttons {
  margin-top: 8em; /*.25em*/
  grid-area: buttons;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 0 0;
  width: 15em;
  height: 3em;
  /* text */
  font-weight: 600;
  /* border */
  border: black solid 2px;
  /* button */
  background-color: inherit;
}

#greenbutton {
  border-color: #1EA363;
  color: #1EA363;
}

.button:hover {
  cursor: pointer;
  border: white solid 2px;
}

#greenbutton:hover {
  background-color: #1EA363;
  border: #1EA363 solid 2px;
  color: white;
}

/* ------------------
    MEDIA SECTION
------------------ */

@media (min-width: 1080px) {
  .grid {
    font-size: 14px;
    margin-top: 1em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 270px 270px 270px 270px 1fr;
    grid-template-areas:
    ". . title title . ."
    ". quote quote quote quote ."
    ". buttons buttons buttons buttons ."
    ". . reveal reveal . ."
    ;
  }

  * {
    background-color: white;
  }
}
